# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Env files
.env
server/.env
client/.env

# Uploads
server/uploads/*
!server/uploads/.gitkeep

# Logs
server/logs/*
!server/logs/.gitkeep

# Build
client/build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
